.button {
    font-family:"Poppins";
    font-size: 8px;
    padding: 10px 26px;
}
.primary-button {
    background: none;
    border: none;
    border: 2px solid #ffffff;
    font-weight:lighter;
    text-transform: uppercase;
}
.submit-button {
    background: #ffffff;
    border-radius: 20px;
    display:block;
    margin: 0 auto;
}