.page-header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 3%;
    padding-right: 2%;
    margin-bottom: -40px;
}
.menu-container {
    position: relative;
    display: inline-block;
}
.page-header nav {
    display: none;
    position: absolute;
    left: -70px;
}
.page-header nav a {
    color: #ffffff;
    padding: 10px 16px;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
}
.page-header button {
    background-color: #000000;
    border: none;
}
.page-header nav a:hover {
    background-color: rgb(117, 207, 177);
}
.menu-container:hover nav {
    display: block;
}
.menu-container:hover button {
    background-color: rgb(117, 207, 177);
}