.postheader {
    background: url("../assets/img/creative-ideas.png");
    padding-left: 10%;
    padding-right: 10%;
}
.postheader div {
    display: flex;
    flex-direction: column;
    padding-top: 220px;
}
.postheader h1 {
    font-size: 55px;
    font-weight: bold;
    margin-left: 22%;
    margin-right: 22%;
    text-align: center;
}
.postheader p {
    font-family:"Poppins";
    font-size: 12px;
    margin-top: 25px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}
.postheader .primary-button {
    margin:25px auto 155px;
}
.product {
    background-color: #f1f1f1;
    margin-bottom: -265px;
}
.product .content {
    display: flex;
    margin-top: 120px;
}
.product .page-header nav a {
    color: #000000;
    padding: 10px 16px;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
}
.product .page-header button {
    background-color: #f1f1f1;
    border: none;
}
.product .page-header nav a:hover {
    background-color: #808080;
}
.product .menu-container:hover nav {
    display: block;
}
.product .menu-container:hover button {
    background-color: #808080;
}
.product .content div img+img {
    position: relative;
    top: -365px;
}
.product .content div:last-child {
    margin-right: 18%;
    margin-left: 6%;
    margin-top: 80px;
}
.product .content div h2 {
    font-size: 44px;
    font-weight: bold;
}
.product .content div p {
    font-size: 9px;
    font-family: "Poppins";
    font-weight:lighter;
    line-height: 15px;
    margin-top: 23px;
}
.product .content .button {
    margin-top: 25px;
    border-color: #000000;
}
.properties {
    background-image: url("../assets/img/background-image.png"), url("../assets/img/background-black.png");
}
.properties div, .properties .content-container ul {
    display: flex;
}
.properties .content-container {
    display: flex;
    flex-direction: column;
    margin:238px 21% 164px 15%;
}
.properties .content-container h2 {
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 14px;
    line-height: 40px;
}
.properties .content-container p {
    font-size: 11px;
    font-weight: lighter;
    font-family: "Poppins";
    margin-bottom: 24px;
}
.properties .content-container ul li span {
    font-size: 9px;
    font-weight:500;
    font-family: "Poppins";
    display:block;
}
.properties .content-container ul li {
    margin-right: 20px;
}
.properties .content-container ul li img {
    padding-bottom: 10px;
    padding-left: 15px;
    width: 40px;
    height: 40px;
}
.properties .iphone {
    background:url("../assets/img/screen-image.png") no-repeat 17px 145px;
    padding-right:20%;
}
.properties .page-header button {
    background-color:#495459;
}
.services {
    background-color: #323c6d;
    color: #ffffff;
}
.services .info {
    padding: 200px 10% 170px 20%;
}
.services .info div {
    display: flex;
    margin-bottom: 65px;
}
.services .info div h2 {
    font-size: 29px;
    font-weight: bold;
    margin-right: 80px;
}
.services .info div p {
    font-family:"Poppins";
    font-size: 9px;
    font-weight: lighter;
}
.services .info div h2+p {
    margin-right: 30px;
}
.services .info ul {
    display: flex;
    justify-content: space-between;
}
.services ul li span {
    font-family:"Poppins";
    font-size: 9px;
    margin-top: 15px;
    display: block;
}
.services ul li img {
    padding-left: 15px;
}
.services .page-header button {
    background-color:#323c6d;
}
.page-footer {
    background-image: url("../assets/img/background-footer.png"), url("../assets/img/background-black.png");
}
.page-footer > div {
    padding-top: 200px;
    padding-bottom: 130px;
    padding-left: 15%;
    padding-right: 15%;
    color: #ffffff;
    display:flex;
}
.page-footer div .content-info {
    margin-right: 10%;
}
.page-footer div .content-info h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}
.page-footer div .content-info h2+p {
    font-family:"Poppins";
    font-size: 11px;
    margin-bottom: 30px;
    line-height: 16px;
}
.page-footer div .content-info .contacts span,
.page-footer div .content-info .contacts span+p,
.page-footer div .content-info div span {
    font-family:"Poppins";
    font-size: 9px;
    margin-bottom: 12px;
    display:block;
}
 .page-footer div .content-info .contacts {
    display: flex;
    margin-bottom: 38px;
}
.page-footer div .content-info .contacts div:first-child p {
    margin-right: 40px;
}
.page-footer div .content-info div img {
    margin-right: 12px;
}
.page-footer div .content-form {
    margin-top: 50px;
}
.page-footer div .content-form input {
    width: 115px;
    margin-right:10px;
    background: none;
    border: none;
    border-bottom: 1px solid #ffffff;
    font-size: 7px;
    font-family: "Poppins";
    padding-bottom: 5px;
}
.page-footer div .content-form input:last-of-type {
    width: 368px;
    margin-top: 110px;
    margin-bottom: 35px;
}
.page-footer div .content-form input::-webkit-input-placeholder {
    color: #ffffff;
}
