.postheader {
    background: url("../assets/img/creative-ideas.png");
}
.postheader div {
    display: flex;
    flex-direction: column;
    padding-top: 220px;
}
.postheader h1 {
    font-size: 55px;
    font-weight: bold;
    margin-left: 29%;
    margin-right: 27%;
    text-align: center;
}
.postheader p {
    font-family:"Poppins";
    font-size: 12px;
    padding-top: 25px;
    padding-left: 35%;
    padding-right: 33%;
    text-align: center;
}
.postheader .primary-button {
    margin:25px 45% 155px;
}
.product {
    background-color: #f1f1f1;
    height: 620px;
}
.product .content {
    display: flex;
    margin-top: 125px;
}
.product .page-header nav a {
    color: #000000;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
}
.product .page-header button {
    background-color: #f1f1f1;
    border: none;
}
.product .page-header nav a:hover {
    background-color: #808080;
}
.product .menu-container:hover nav {
    display: block;
}
.product .menu-container:hover button {
    background-color: #808080;
}
.product .content div img+img {
    position: relative;
    top: -365px;
}
.product .content div:last-child {
    margin-right: 200px;
    margin-left: 70px;
    margin-top: 80px;
}
.product .content div h2 {
    font-size: 44px;
    font-weight: bold;
}
.product .content div p {
    font-size: 9px;
    font-family: "Poppins";
    font-weight:lighter;
    line-height: 15px;
    margin-top: 23px;
}
.product .content .button {
    margin-top: 25px;
    border-color: #000000;
}
.properties {
    background-image: url("../assets/img/background-image.png"), url("../assets/img/background-black.png");
}
.properties div {
    display: flex;
}
.properties .content-container {
    display: flex;
    flex-direction: column;
    margin:238px 250px 164px 155px;
}
.properties .content-container h2 {
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 14px;
    line-height: 40px;
}
.properties .content-container p {
    font-size: 11px;
    font-weight: lighter;
    font-family: "Poppins";
    margin-bottom: 24px;
}
.properties .content-container div ul {
    display: flex;
    list-style: none;
}
.properties .content-container div li h3 {
    font-size: 9px;
    font-weight:500;
    font-family: "Poppins";
}
.properties .content-container div li {
    margin-right: 20px;
}
.properties .content-container div li img {
    padding-bottom: 10px;
    padding-left: 15px;
}
.properties .iphone {
    margin-right: 20%;
    background:url("../assets/img/screen-image.png") no-repeat 17px 145px;
}
.properties .content-container div li:last-child img {
    padding-bottom: 15px;
}
.properties .content-container div li:first-child img {
    padding-bottom: 12px;
}
.properties .page-header button {
    background-color:#495459;
}
.services {
    background-color: #323c6d;
    color: #ffffff;
}
.services .info {
    padding: 200px 230px 170px 205px;
}
.services .info div {
    display: flex;
    margin-bottom: 65px;
}
.services .info div h3 {
    font-size: 29px;
    font-weight: bold;
    margin-right: 80px;
}
.services .info div p {
    font-family:"Poppins";
    font-size: 9px;
    font-weight: lighter;
}
.services .info div h3+p {
    margin-right: 30px;
}
.services .info ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.services ul li h4 {
    font-family:"Poppins";
    font-size: 9px;
    margin-top: 15px;
}
.services ul li img {
    padding-left: 15px;
}
.services .page-header button {
    background-color:#323c6d;
}